* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/images/back3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body::after {
    content: "";
    background-color: rgba(22, 2, 43, 0.44);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}
header {
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    height: 40%;
}
.center {
    position: relative;
    margin: auto;
    margin-top: -8%;
    width: 40%;
    text-align: center;
    display: block;
}
.center img {
    padding: auto;
}
p, table, input, button {
    font-family: 'Kalam';
    text-align: center;
    vertical-align: center;
}
td, th {
    border: 2px inset #f9ebb5;
    padding: .3em 1em;
}
.main table, .main .search, .mainPhotos table {
    margin: auto;
}
table {
    color: #f9ebb5;
    font-size: 36px;
}
.center p {
    color: #f9ebb5;
    margin-top: 2%;
    font-size: 60px;
}
.menu p {
    color: #f9ebb5;
    font-size: 42px;
}
.menu {
    position: relative;
    margin: auto;
    margin-top: 6%;
    width: 150vh;
    height: 10vh;
    text-align: center;
    display: block;
    z-index: 10;
}
.left {
    float: left;
    position: relative;
    width: 33%;
}
.ul {
    width: 50%;
    float: left;
    position: relative;
}
.right {
    float: right;
    position: relative;
    width: 33%;
}
a {
    position: relative;
    color: #f9ebb5;
    text-decoration: none;
}
span {
    position: relative;
    color: #888888;
    text-decoration: none;
}
a:hover {
    animation: spring 1000ms ease-out;
    text-shadow: 0 -1px 0 #f9ebb5;
    font-weight: bold;
}
a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f9ebb5;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.mainPhotos {
    margin-left: 10%;
    margin-top: 16%;
    width: 50%;
    text-align: center;
    display: block;
}
.aboutInfo, .main, .newPhotoInfo {
    margin: 0 auto;
    margin-top: 16%;
    width: 50%;
    text-align: center;
    display: block;
} 
p, input, button {
    color: #f9ebb5;
}
.entityP {
    font-size: 48px;
}
footer {
    position: fixed;
    width: 100%;
    margin: auto;
    bottom: 0.3%;
}
footer p {
    color: #f9ebb5;
    font-size: 14px;
}
.underLogoP, .fullnameP{
    font-size: 60px;
}
.mainText {
    font-size: 48px;
    padding-top: 8%;
}
.backTo {
    position: fixed;
    top: 2%;
    left: 2%;
}
.backTo a, .extraInfoP {
    font-size: 32px;
}
.userInfo {
    width: 60%;
    height: auto;
    margin: 5% auto;
}
.userAva {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 2px dashed #f9ebb5;
}
.userAva img, .photoImg img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    display: block;
}
.fullnameP {
    padding-top: 3%;
}
.extraInfoP {
    padding-top: 1%;
}
.bio {
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 28px;
    padding-top: 7%;
}
.photoInfo {
    width: 100%;
    height: auto;
    margin: 8% auto;
    display: flex;
}
.photoImg {
    width: 960px;
    height: 540px;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 5%;
    text-align: center;
}
.photoNameP {
    font-size: 72px;
}
.photoNameP, .locationP , .likesP, .dislikesP, .photoDateP {
    margin-left: 40%;
    width: 100%;
}
.locationP {
    margin-top: 10%;
    font-size: 40px;
}
.likesP, .dislikesP, .photoDateP {
    margin-top: 4%;
    font-size: 40px;
}
.aboutInfo p {
    margin-top: 3%;
    font-size: 36px;
}
.search {
    height: auto;
    margin: auto;
    width: 82%;
}
.search .nameInput, .findButton, .prev, .next, .currentPageNumber, .pageNumber, .slash {
    height: 40px;
    line-height: 40px;
}
.search .nameSearch, .pageSearch {
    display: flex;
}
.search .nameInput {
    width: 74%;
    margin-top: 2%;
    font-size: 28px;
    text-align: center;
    vertical-align: center;
    background-color: #16092c;
}
.search .findButton {
    width: 24%;
    font-size: 22px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
    vertical-align: center;
    background-color: #16092c;
}
.search .prev, .next, .currentPageNumber, .pageNumber, .slash {
    margin-top: 2%;
    font-size: 22px;
    background-color: #16092c;
    text-align: center;
}
.search .prev {
    width: 18%;
    margin-right: 6.25%;
}
.search .next {
    margin-left: 6.25%;
    width: 18%;
}
.search .currentPageNumber, .perPageNumber {
    height: 40px;
    line-height: 40px;
    width: 10%;
    border: 1px solid #f9ebb5;
}
.search .slash {
    width: 5%;
}
.search .pageNumber {
    width: 10%;
    border: 1px solid #f9ebb5;
}
.pageSearch p {
    margin-top: 2%;
    font-size: 22px;
}
.perPageNumber {
    font-size: 22px;
    background-color: #16092c;
    margin-top: 1.75%;
    margin-left: 5.4%;
}
.prev {
    margin-top: 2%;
    font-size: 22px;
    background-color: #16092c;
}
.next {
    margin-top: 2%;
    font-size: 22px;
    background-color: #16092c;
}
.notFound {
    font-size: 36px;
}
.bigDiv {
    display: flex;
}
.paginationDiv {
    margin-top: 20%;
    width: 50%;
}
.search .findButtonFixed {
    position: fixed;
    right: 4%;
    width: 8.85%;
    font-size: 22px;
    margin-top: 0.7%;
    margin-left: 0.7%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #16092c;
}
.goToNewPhoto {
    margin-top: 10%;
    font-size: 28px;
    background-color: #072904;
    border: 1px solid #f9ebb5;
    padding: 8px 25px;
}
.specialAContainer {
    margin-top: 5%;
}
.newForm div div input {
    position: fixed;
    margin-left: 12%;
    height: 50px;
    line-height: 50px;
    width: 25%;
    background-color: #16092c;
    font-size: 28px;
}
.newForm div div {
    display: flex;
}
.newForm p {
    margin-bottom: 1%;
    font-size: 32px;
}
.inputSubmit {
    height: 50px;
    line-height: 50px;
    width: 15%;
    background-color: #16092c;
    font-size: 28px;
}
.newStructure {
    margin-left: 13%;
    justify-content: center;
}
.fileUpload::-webkit-file-upload-button {
    visibility: hidden;
}
.fileUpload::before {
    content: 'Select image';
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    padding: 5px 30px;
    font-size: 18px;
    border: 1px solid #f9ebb5;
}
.deleteInput {
    margin-top: 10%;
    font-size: 28px;
    background-color: #200000;
    border: 1px solid #f9ebb5;
    padding: 8px 25px;
    margin-left: 55%;
}
.disabled {
    pointer-events: none;
    cursor: default;
}